/* Debug mode styles - Shows crop marks, page boxes, and margin boxes */

.preview-container {
    --color-pageBox: violet;
    --pagedjs-crop-color: black;
    --pagedjs-crop-shadow: white;
    --pagedjs-crop-stroke: 1px;
    --pagedjs-mark-cross-display: block;
    --pagedjs-mark-crop-display: block;
}

/* Show page box outlines */
.pagedjs_pagebox {
    box-shadow: 0 0 0 1px violet !important;
}

/* Show margin boxes */
.pagedjs_margin-top-left-corner-holder,
.pagedjs_margin-top,
.pagedjs_margin-top-left,
.pagedjs_margin-top-center,
.pagedjs_margin-top-right,
.pagedjs_margin-top-right-corner-holder,
.pagedjs_margin-bottom-left-corner-holder,
.pagedjs_margin-bottom,
.pagedjs_margin-bottom-left,
.pagedjs_margin-bottom-center,
.pagedjs_margin-bottom-right,
.pagedjs_margin-bottom-right-corner-holder,
.pagedjs_margin-right,
.pagedjs_margin-right-top,
.pagedjs_margin-right-middle,
.pagedjs_margin-right-bottom,
.pagedjs_margin-left,
.pagedjs_margin-left-top,
.pagedjs_margin-left-middle,
.pagedjs_margin-left-bottom {
    box-shadow: 0 0 0 1px inset rgba(255, 0, 255, 0.3) !important;
}

/* Ensure crop marks are visible in spread view */
body.view-spread .pagedjs_left_page .pagedjs_bleed-right .pagedjs_marks-crop {
    border-color: black !important;
}

body.view-spread .pagedjs_left_page .pagedjs_bleed-right .pagedjs_marks-middle {
    width: var(--pagedjs-cross-size) !important;
}
